.a-canvas {
        display: flex !important; 
        align-items: flex-start !important; 
    }
.body {
        display: flex !important; 
        align-items: flex-start !important; 
    }
#arjsDebugUIContainer {
    display:none;
}