.a-canvas {
        display: flex !important; 
        align-items: flex-start !important; 
    }
.a-scene {
        display: flex !important; 
        align-items: flex-start !important; 
    }

#arjsDebugUIContainer{
    display:none;
}