.a-canvas {
    height: calc(100vw* 0.75);
    width: 100vw;
    }
.body {
        display: flex !important; 
        align-items: flex-start !important; 
    }
#arjsDebugUIContainer {
    display:none;
}